[Desktop Entry]
Name=rwm
Comment=Minimal tiling window manager in Rust
#you must add your own path here 
Exec=/path/to/rwm 
Type=Application
DesktopNames=rwm
